body, textarea {
	font-family: Frutiger, Helvetica, Verdana, Arial, sans-serif;
	color: #306;
	background-color: #FFC;
}
label, th {
	font-weight: bold;
	text-align: left;
}
td.standard-width {
	width: 150px;
}
label {
	width: 150px;
	display: block;
}
label.error {
	color: #C00;
}
td, th {
	padding: 4px;
}
td.unpadded {
	padding: 0px;
}
th {
	text-align: left;
	background-color: #FC6;
}
td.processingerror {
	color: #C00;
	font-weight: bold;
}
tr.is_due, div.is_due {
	background-color: #FAA;
}
tr.is_paid, div.is_paid {
	background-color: #AFA;
}
tr.is_open, div.is_open {
	background-color: #FFA;
}
tr.is_trash, div.is_trash {
	background-color: #999;
}
a {
	text-decoration: none;
	color: #40A;
}
div.navigation {
	display: inline;
	float: left;
	padding: 0px 5px;	
	border-left: thin solid #306;
}
div > div.navigation:first-child {
	border-left: 0px;
}
div#subnavigation {
	font-weight: normal;
	float: right;
}
div#subnavigation a {
	padding: 0px 4px;
	border-left: thin solid #306;
}
div#subnavigation > a:first-child {
	border-left: 0px;
}
input.extralarge {
	width: 400px;
}
input.large {
	width: 240px;
}
input.medium {
	width: 120px;
}
input.small {
	width: 40px;
}
div#confirm {
	font-weight: bold;
	font-size: 14px;
	padding: 8px;
}
div.head {
	border-color: #A00;
	border-style: solid;
	border-width: thin 0px 0px thin;
	background-color: #F88;
	font-weight: bold;
	padding: 4px;
}
div.foot {
	background-color: #F88;
	padding: 4px;
	border-color: #A00;
	border-style: solid;
	border-width: 0px thin thin 0px;
	text-align: right;
}
div.padded {
	padding: 4px;
}
td.right {
	text-align: right;
}
span#total_brutto {
	font-weight: bold;
}
